doctype html
html(lang="en")

head
	title Fun Poll
	meta(char="utf-8")
	meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
	meta(http-equiv='x-ua-compatible', content='ie=edge')
	
	// Bootstrap
	link(rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
	link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css', integrity='sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd', crossorigin='anonymous')

body
	.container
		.page-header.text-center
			h1
			span.fa.fa-anchor
			|  Profile Page
		a.btn.btn-default.btn-sm(href='/logout') Logout
		.row
		// LOCAL INFORMATION
		.col-sm-6
			.well
				h3
					span.fa.fa-user
					|  Local
				p
					strong id
					| : 
					=user
