doctype html
html(lang="en")
	include ./head.pug
	// Custom Sheets
	link(rel='stylesheet', type='text/css', href='home.css')
	script(src='home.js')
	body
		.red
		.svg
		.svg
		.jumbotron.text-xs-center.fade-in
			img(src='smiley.png')
			a(href="/")
				h1.display-1 funpoll
			div.bottom
				a(href='/login') Login
				span.pad |
				a(href='/register') Register
		.container-fluid
			.arrow-up
			.card.col-xl-4.col-md-6.col-sm-12.fade-in
				form(action='/new' method='post' onsubmit='return stripEmpty()')
					.form-group#question
						label Question
						input.form-control-lg.form-control(type='text' name='question' required)
					hr
					.form-group#choices
						label Choices
						.form-group
							.input-group-addon 1
							input.form-control.form-control-lg(type='text' name='0')
						.form-group
							.input-group-addon 2
							input.form-control.form-control-lg(type='text' name='1')
						.form-group
							.input-group-addon 3
							input.form-control.form-control-lg(type='text' name='2')
					hr
					#form-footer
						div
							.checkbox
								label
									input(type='checkbox' value='true' name='ip')
									small.text-muted Check for IP duplication
									
							.checkbox
								label
									input(type='checkbox' value='true' name='mc')
									small.text-muted Allow multiple answers
							.checkbox
								label
									input(type='checkbox' value='true' name='cus')
									small.text-muted Allow answer creation
						button.btn.btn-danger.btn-lg.col-xs-5 Submit

			.list-group.col-xl-7.col-xl-offset-1.col-md-6.col-sm-12.fade-in
				a.list-group-item#recent(href='#')
					h4.list-group-item-heading Recent Polls

				-var q = JSON.parse(qArr);
				-var d = JSON.parse(dArr);
				-var i = JSON.parse(iArr);
				
				-var n = 0;
				while n < 10
					a.list-group-item(href=i[n])
						p.list-group-item-text.col-lg-10=q[n]
						small.text-muted=d[n++]

		#footer
			small.text-muted website created by 
				a(href="https://www.freecodecamp.com/cinders-p") cinders-p
