doctype html
html(lang="en")
	include ./head.pug
	// Custom Sheets
	link(rel='stylesheet', type='text/css', href='home.css')
	script.
		$('html, body').css('overflow-y', 'visible');

	
body
	.red
	.svg
	.svg
	.jumbotron.text-xs-center
		//- img(src='smiley.png')
		a(href="/")
			h1.display-1 funpoll
	.container-fluid.no-pad
			.arrow-up
			.justify-center
				.card.col-lg-4.col-md-8

					if (message.length > 0)
						.alert.alert-danger
							=message

					//- login form
					if register
						form(action='/register' method='post')
							.form-group
								label Username
								input.form-control(type='text' name='username')
							.form-group
								label Password
								input.form-control(type='password' name='password')
							if register
								button.btn.btn-danger.btn-lg.register Register
							else
								button.btn.btn-danger.btn-lg.register Login
					else
						form(action='/login' method='post')
							.form-group
								label Username
								input.form-control(type='text' name='username')
							.form-group
								label Password
								input.form-control(type='password' name='password')
							if register
								button.btn.btn-danger.btn-lg.register Register
							else
								button.btn.btn-danger.btn-lg.register Login
						
					div 
						hr
						
						if register
							small.text-muted Already have an account? 
								a.brown(href='/login') Login <br>
						else
							small.text-muted Need an account? 
								a.brown(href='/register') Register <br>	
								
						small.text-muted  Or go back 
							a.brown(href='/') home
							|.
	#footer
		small.text-muted website created by 
			a(href="https://www.freecodecamp.com/cinders-p") cinders-p
